@font-face {
  font-family: "Roboto Regular";
  src: url("./Assets/Fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./Assets/Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("./Assets/Fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("./Assets/Fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("./Assets/Fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("./Assets/Fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto BoldItalic";
  src: url("./Assets/Fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto MediumItalic";
  src: url("./Assets/Fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto ThinItalic";
  src: url("./Assets/Fonts/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "Roboto LightItalic";
  src: url("./Assets/Fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto Black";
  src: url("./Assets/Fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto BlackItalic";
  src: url("./Assets/Fonts/Roboto/Roboto-BlackItalic.ttf");
}

.App {
  background-color: #1b1d22;
  padding: 40px;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
}

.main-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .App {
    padding: 20px;
    width: calc((100vw - 40px));
    height: calc((100vh - 40px));
  }
}
